@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

@import 'base/variables';
@import 'blocks/null';

body {

}

.wrapper {
	overflow: hidden;
	min-height: 100%;
}

.container {
	max-width: 1130px;
	padding: 0 15px
}

@import 'blocks/ui';
@import 'blocks/header';
@import 'blocks/footer';
@import 'blocks/page';
