.brands {

	&__reverse {
		.brands__column {
			order: 1;
			&_b {
				flex: 0 1 66.667%;
				order: 2;
			}
		}
	}

	&_last {
		@media (max-width: 1100px) {
			.brands__column {
				&:nth-child(1){
					order: 2;
				}
				&:nth-child(2){
					order: 1;
				}
				&:nth-child(3){
					order: 3;
				}
			}
		}
	}

	&__row {
		display: flex;
		@media (max-width: 1100px) {
			flex-direction: column;
		}
	}

	&__column {
		flex: 0 1 33.333%;
		&_b {
			flex: 0 1 66.667%;
		}
	}

	&__item {
	}

	&__content {
		padding: 70px 65px 55px 75px;
		@media (max-width: 1500px) {
			padding: 40px 35px 30px 35px;
		}
		position: relative;
		&:after {//триугольник
			content: '';
			position: absolute;
			bottom: -10px;
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid #fff;
			z-index: 5;
		}
	}

	&__image {
		padding-bottom: 37.502%;
	}

}
.item {
	height: 100%;
	display: block;
	position: relative;
	&__logo {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		transition: all .3s;
		justify-content: center;
		align-items: center;
		background-color: rgba(100, 194, 158, .5);
		z-index: 2;
		opacity: 0;
		visibility: hidden;
	}

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&:hover {
		.item__logo {
			opacity: 1;
			visibility: visible;
		}
	}
	@media (max-width: 1100px) {
		height: auto;
		padding-bottom: 80%;
	}
}