.slider {
	background-color: #f7f7f7;
	padding: 120px 0 60px 0;
	&__body {
	}

	&__item {
		text-align: center;
	}

	&__icon {
		margin-bottom: 35px;
	}

	&__title {
		margin-bottom: 20px;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 700;
		letter-spacing: 0.1em;
		color: #353738;
		span {
			font-weight: 300;
			color: #848789;
		}
	}

	&__text {
		font-size: 24px;
		line-height: 34px;
		font-style: italic;
		color: #848789;
	}
}
