.ibg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.ibg img {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}